@import "../../../src/scss/partials/variables";

/* -------------------------------
HERO TEXTPICTURE COMPONENT 
------------------------------- */
.cbo-herotextpicture{
    background-image:linear-gradient(250deg,$coloredlight,$colored 50%,$coloredark);
    color: $colorwhite;
    border-radius: 0 0 $borderstandard $borderstandard;

    .herotextpicture-picture{
        padding-bottom: 70%;
        border-radius: $borderstandard;
        overflow: hidden;
        margin-bottom: 1.875rem;

        .picture-frame{
            z-index: 2;
            border-radius: $bordersmall;
            width: calc(100% - 1.25rem);
            height: calc(100% - 1.25rem);
            position: absolute;
            top: 0.625rem;
            left: 0.625rem;
            box-shadow: 0 0 0 0.0625rem $colorwhite inset;
        }
    }
    .herotextpicture-content{
        .herotextpicture-text{
            margin-top: 1.875rem;
        }
        .button-container{
            margin-top: 2.5rem;

            .cbo-button{
                font-size: 18px;
            }
        }
    }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width:$screen-md-min) {
    .cbo-herotextpicture{
        border-radius: 0 0 $borderbig $borderbig;

        .herotextpicture-inner.cbo-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row-reverse;
            margin-bottom: 8.75rem;
        }
        .herotextpicture-picture{
            padding-bottom: 0%;
            width: 46%;
            margin: 0 0 -8.125rem 0;
        }
        .herotextpicture-content{
            width: 50%;
            max-width: 43.75rem;
        }
    }
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width:$screen-lg-min) {
    .cbo-herotextpicture{
        position: relative;

        .herotextpicture-inner.cbo-container{
            margin-bottom: 12.5rem;
            padding-bottom: 6.25rem;
            position: initial;
        }
        .herotextpicture-picture{
            position: absolute;
            right: 2.5rem;
            top: 12.5rem;
            height: calc(100% - 8.75rem);
        }
        .herotextpicture-content{
            margin: 0 auto 0 0;
        }
    }
}